body {
    font-family: sans-serif
}

header {
    background-color: aquamarine;
    text-align: center;
    height: 90px;
    border-radius: 10px;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

footer img {
    box-shadow: 5px 5px 5px gray;
    border-radius: 33px;
    margin-top: 10px;
    margin-left: 130px;
}

.link-text{
    text-decoration: none;
    color: black;
}

.link-text:hover {
    color: rgb(255, 144, 222);
    transition: all 0.6 ease-out;
}
